<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>auth-login</title>
</head>
<body>
	<form method="POST" action="">
 {{ form.hidden_tag() }}
	 {{ form.username.label }} {{form.username()}}  <br/>
	 {{ form.password.label }} {{form.password()}} <br/>
	 {{form.submit()}}
</form>
</body>
</html>

