HTML {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

BODY {

	font-family: "微软雅黑";

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

DL {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

DD {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

IMG {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

FORM {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

DIV {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

UL {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

OL {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

LI {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

H1 {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

H2 {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

H3 {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

H4 {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

H5 {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

H6 {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

h7 {

	PADDING-BOTTOM: 0px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN: 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	BORDER-LEFT-WIDTH: 0px;

	PADDING-TOP: 0px

}

UL {

	LIST-STYLE-TYPE: none

}

OL {

	LIST-STYLE-TYPE: none

}

LI {

	LIST-STYLE-TYPE: none

}

A IMG {

	BORDER-BOTTOM-STYLE: none;

	BORDER-RIGHT-STYLE: none;

	BORDER-TOP-STYLE: none;

	BORDER-LEFT-STYLE: none

}

IFRAME {

	BORDER-BOTTOM-STYLE: none;

	BORDER-RIGHT-STYLE: none;

	BORDER-TOP-STYLE: none;

	BORDER-LEFT-STYLE: none

}

.fl {

	FLOAT: left;

	_display: inline

}

.fr {

	FLOAT: right;

	_display: inline

}

.h {

	DISPLAY: none;

	VISIBILITY: visible

}

.clear {

	LINE-HEIGHT: 0;

	HEIGHT: 0px;

	VISIBILITY: visible;

	CLEAR: both;

	FONT-SIZE: 0px

}

.clearfix {

	ZOOM: 1

}

.clearfix:after {

	DISPLAY: block;

	HEIGHT: 0px;

	VISIBILITY: hidden;

	CLEAR: both;

	CONTENT: "."

}

.right {

	TEXT-ALIGN: right

}

.left {

	TEXT-ALIGN: left

}

.b {

	FONT-WEIGHT: bold

}

.line-through {

	TEXT-DECORATION: line-through

}

.under {

	TEXT-DECORATION: underline

}

.break {

	WORD-BREAK: break-all

}

.red {

	COLOR: #af0102

}

.gray {

	COLOR: #ccc

}

A.gray {

	COLOR: #ccc

}

A.gray:visited {

	COLOR: #ccc

}

.f14 {

	FONT-SIZE: 14px

}

.editor {

	TEXT-ALIGN: left;

	LINE-HEIGHT: 24px

}

.editor P {

	TEXT-INDENT: 2em

}

.editor OL LI {

	LIST-STYLE-TYPE: circle;

	MARGIN-LEFT: 25px

}

.editor UL LI {

	LIST-STYLE-TYPE: square;

	MARGIN-LEFT: 25px

}

BODY {

	FONT-FAMILY: "微软雅黑";

	FONT-SIZE: 12px

}

.container2 {

	MARGIN: 0px auto;

	WIDTH: 100%;

	COLOR: #444

}

A:link {

	COLOR: #333;

	TEXT-DECORATION: none

}

A:visited {

	COLOR: #333;

	TEXT-DECORATION: none

}

A:hover {

	COLOR: #4bcdd9;

	TEXT-DECORATION: none

}

A:active {

	COLOR: #d6312d;

	TEXT-DECORATION: none

}

.top {

	LINE-HEIGHT: 40px;

	MARGIN: 0px auto;

	WIDTH: 100%;

	BACKGROUND: url(/static/rh/top_bg.gif) repeat-x;

	HEIGHT: 40px

}

.top_con {

	TEXT-ALIGN: right;

	MARGIN: 0px auto;

	WIDTH: 1200px

}

.top_con SPAN {

	PADDING-LEFT: 10px

}

.mail {

	COLOR: #4bcdd9

}

.tel {

	COLOR: #ffb243

}

.mail SPAN {

	PADDING-LEFT: 0px;

	FONT-FAMILY: Arial

}

.tel SPAN {

	PADDING-LEFT: 0px;

	FONT-FAMILY: Arial

}

.head {

	MARGIN: 0px auto;

	WIDTH: 1200px;

	HEIGHT: 100px

}

.logo {

	PADDING-BOTTOM: 0px;

	LINE-HEIGHT: 39px;

	MARGIN: 25px 0px 0px;

	PADDING-LEFT: 0px;

	PADDING-RIGHT: 0px;

	HEIGHT: 39px;

	PADDING-TOP: 0px

}

.menu {

	LINE-HEIGHT: 100px;

	FONT-FAMILY: "微软雅黑";

	FONT-SIZE: 16px

}

.menu UL LI {

	TEXT-ALIGN: center;

	WIDTH: 105px;

	FLOAT: left

}

.menu UL LI A {

	DISPLAY: block

}

.menu UL LI A:hover {

	BACKGROUND: url(/static/rh/menu_hover_bg.gif) no-repeat;

	COLOR: #fff

}

.menu UL LI A.a1 {

	BACKGROUND: url(/static/rh/menu_hover_bg.gif) no-repeat;

	COLOR: #fff

}

.footer {

	MARGIN: 0px auto;

	WIDTH: 100%;

	BACKGROUND: url(/static/rh/footer_bg.gif) repeat-x;

	HEIGHT: auto;

}

.footer2 {

	MARGIN: 0px auto;

	WIDTH: 100%;

	BACKGROUND: url(/static/rh/footer_bg.gif) repeat-x;

	HEIGHT: 260px

}

.footer_con {

	MARGIN: 0px auto;

	WIDTH: 1200px;

	PADDING-TOP: 30px

}

.footer_dl {

	HEIGHT: 260px

}

.footer_dl DL {

	LINE-HEIGHT: 34px;

	WIDTH: 205px;

	FLOAT: left

}

.footer_dl DL DT {

	PADDING-BOTTOM: 20px;

	FONT-FAMILY: "微软雅黑";

	FONT-SIZE: 18px;

	FONT-WEIGHT: bold

}

.footer_dl3 DD {

	MARGIN-BOTTOM: 7px;

	MARGIN-RIGHT: 0px

}

.footer_dl DL DD INPUT.input {

	BORDER-BOTTOM: #d8d8d8 1px solid;

	BORDER-LEFT: #d8d8d8 1px solid;

	PADDING-LEFT: 5px;

	WIDTH: 230px;

	COLOR: #999;

	BORDER-TOP: #d8d8d8 1px solid;

	BORDER-RIGHT: #d8d8d8 1px solid

}

.footer_dl DL DD TEXTAREA {

	BORDER-BOTTOM: #d8d8d8 1px solid;

	BORDER-LEFT: #d8d8d8 1px solid;

	PADDING-LEFT: 5px;

	WIDTH: 230px;

	COLOR: #999;

	BORDER-TOP: #d8d8d8 1px solid;

	BORDER-RIGHT: #d8d8d8 1px solid

}

.footer_dl3 DD INPUT.input {

	LINE-HEIGHT: 26px;

	HEIGHT: 26px

}

.footer_dl3 DD TEXTAREA {

	HEIGHT: 26px;

	PADDING-TOP: 5px

}

.footer_dl DL DD A:hover {

	COLOR: #666;

	TEXT-DECORATION: underline

}

.footer_dl2 DD IMG {

	MARGIN-RIGHT: 10px

}

.bottom {

	LINE-HEIGHT: 65px;

	MARGIN: 0px auto;

	WIDTH: 100%;

	BACKGROUND: url(/static/rh/bottom_bg.gif) repeat-x;

	HEIGHT: 65px

}

.bottom_con {

	TEXT-ALIGN: center;

	MARGIN: 0px auto;

	WIDTH: 1200px;

	COLOR: #666

}

.page {

	TEXT-ALIGN: center;

	MARGIN: 30px auto 0px;

	WIDTH: 1200px;

	FONT-FAMILY: Arial;

	FONT-SIZE: 14px

}

.page A {

	BORDER-BOTTOM: #dedede 1px solid;

	BORDER-LEFT: #dedede 1px solid;

	PADDING-BOTTOM: 4px;

	MARGIN: 0px 3px;

	PADDING-LEFT: 8px;

	PADDING-RIGHT: 8px;

	DISPLAY: inline-block;

	COLOR: #333;

	VERTICAL-ALIGN: middle;

	BORDER-TOP: #dedede 1px solid;

	BORDER-RIGHT: #dedede 1px solid;

	PADDING-TOP: 4px

}

.page A:hover {

	BORDER-BOTTOM: #128792 1px solid;

	BORDER-LEFT: #128792 1px solid;

	BACKGROUND: #2eafbb;

	COLOR: #fff;

	BORDER-TOP: #128792 1px solid;

	BORDER-RIGHT: #128792 1px solid

}

.page A.a3 {

	BORDER-BOTTOM: #128792 1px solid;

	BORDER-LEFT: #128792 1px solid;

	BACKGROUND: #2eafbb;

	COLOR: #fff;

	BORDER-TOP: #128792 1px solid;

	BORDER-RIGHT: #128792 1px solid

}

.search {

	WIDTH: 315px;

	FLOAT: right

}

.search_le {

	WIDTH: 23px;

	FLOAT: left

}

.search_ri {

	WIDTH: 73px;

	FLOAT: left

}

.search_input {

	WIDTH: 205px;

	BACKGROUND: url(/static/rh/search_ce_bg.gif) repeat-x center center;

	FLOAT: left;

	HEIGHT: 36px

}

.search_input INPUT {

	LINE-HEIGHT: 29px;

	BORDER-RIGHT-WIDTH: 0px;

	MARGIN-TOP: 2px;

	PADDING-LEFT: 5px;

	WIDTH: 200px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	HEIGHT: 29px;

	COLOR: #999;

	BORDER-LEFT-WIDTH: 0px

}

.search_ri A {

	CURSOR: pointer

}

.QQbox {

	Z-INDEX: 1000099;

	POSITION: absolute;

	WIDTH: 178px;

	TOP: 140px;

	RIGHT: 0px

}

.QQbox .press {

	POSITION: absolute;

	BORDER-BOTTOM-STYLE: none;

	BORDER-RIGHT-STYLE: none;

	WIDTH: 33px;

	BORDER-TOP-STYLE: none;

	HEIGHT: 158px;

	BORDER-LEFT-STYLE: none;

	CURSOR: pointer;

	RIGHT: 0px

}

.QQbox .Qlist {

	POSITION: absolute;

	WIDTH: 131px;

	LEFT: 0px

}

.QQbox .Qlist UL {

	PADDING-BOTTOM: 10px;

	BACKGROUND-COLOR: #285a95;

	PADDING-TOP: 15px

}

.QQbox .Qlist UL LI {

	PADDING-BOTTOM: 0px;

	LINE-HEIGHT: 30px;

	MARGIN: 5px 0px 0px;

	PADDING-LEFT: 30px;

	PADDING-RIGHT: 0px;

	BACKGROUND: url(/static/rh/qq/qq_line.gif) no-repeat 50% bottom;

	HEIGHT: 30px;

	PADDING-TOP: 0px

}

.QQbox3 {

	Z-INDEX: 1000099;

	POSITION: absolute;

	WIDTH: 170px;

	TOP: 140px;

	RIGHT: 0px

}

.QQbox3 .press {

	POSITION: absolute;

	BORDER-RIGHT-WIDTH: 0px;

	WIDTH: 30px;

	BORDER-TOP-WIDTH: 0px;

	BORDER-BOTTOM-WIDTH: 0px;

	HEIGHT: 150px;

	BORDER-LEFT-WIDTH: 0px;

	CURSOR: pointer;

	RIGHT: 0px

}

.QQbox3 .Qlist {

	BACKGROUND-COLOR: #0087bd;

	WIDTH: 140px

}

.QQbox3 .Qlist UL {

	PADDING-BOTTOM: 10px;

	MARGIN: 0px;

	PADDING-TOP: 15px

}

.QQbox3 .Qlist UL LI {

	PADDING-BOTTOM: 0px;

	LINE-HEIGHT: 30px;

	MARGIN: 5px 0px 0px;

	PADDING-LEFT: 30px;

	PADDING-RIGHT: 0px;

	BACKGROUND: #0087bd;

	HEIGHT: 30px;

	PADDING-TOP: 0px

}

dede_pages {

}

.dede_pages ul {

	float: left;

	padding: 12px 0px 12px 16px;

}

.dede_pages ul li {

	float: left;

	font-family: Tahoma;

	line-height: 17px;

	margin-right: 6px;

	border: 1px solid #E9E9E9;

}

.dede_pages ul li a {

	float: left;

	padding: 2px 4px 2px;

	color: #555;

	display: block;

}

.dede_pages ul li a:hover {

	color: #690;

	text-decoration: none;

	padding: 2px 4px 2px;

}

.dede_pages ul li.thisclass, .dede_pages ul li.thisclass a, .pagebox ul li.thisclass a:hover {

	background-color: #F8F8F8;

	padding: 2px 4px 2px;

	font-weight: bold;

}

.dede_pages .pageinfo {

	line-height: 21px;

	padding: 12px 10px 12px 16px;

	color: #999;

}

.dede_pages .pageinfo strong {

	color: #555;

	font-weight: normal;

	margin: 0px 2px;

}

