<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{article.title}}-{{navcat.seoKey}}-{{sys.webname}}</title>
<meta name="keywords" content="{{article.seoKey}},{{navcat.seoKey}},{{sys.keywords}}" />
<meta name="description" content="{{article.seoDescription}}-{{navcat.seoDescription}},{{sys.description}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}"
type="image/x-icon">

<link href="{{url_for('static', filename='css/myadd.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/Common.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/Index.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/default.css')}}" rel="stylesheet" type="text/css" />
<link href="{{url_for('static', filename='css/Style.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>   
 
{%include 'top.html'%}
<!--/Header-->
    
<div class="content">
 
  <!--Header-->
 <div class="left">
 
 <style>
    
    .lanren ul a{}
    .lanren ul a:hover{color: #000;}
    .lanren ul li{position: relative;}
    .lanren ul li:hover{background: #fff;}
    .lanren ul{}

    .lanren ul.nav2{left: 99px;top: 0;display: none;}
   
    .lanren .nav1 .li1:hover ul.nav2{display: block;background: #fff;}
   
</style>
        <div class="prs">
		<h4 class="t05"><a href="/goods/0.html">产品分类</a></h4>

<div class="t05_con">

<div class="lanren">
<ul class="t05_uls nav1">


 
 <li class="li1"><a  href="/goods/66.html">氦质谱检漏仪维修</a>
 
 <ul class="nav2">
 
				<li class="li2" style="margin-left:1px;"><a href="/goods/119.html"> Varian瓦里安</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/118.html"> Alcatel阿尔卡特</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/90.html"> Ulvac 爱发科</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/89.html"> PFEIFFER 普发</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/88.html"> LEYBOLD 莱宝</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/87.html"> Inficon 英福康</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/86.html"> AGILENT 安捷伦</a></li>
			            
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/68.html">分子泵维修</a>
 
 <ul class="nav2">
 
				<li class="li2" style="margin-left:1px;"><a href="/goods/115.html"> Mitsubishi三菱</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/114.html"> Ebara荏原</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/113.html"> Seiko Seiki精工精机</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/85.html"> VARIAN 瓦里安</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/84.html"> AGILENT 安捷伦</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/83.html"> SHIMADZU 岛津</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/82.html"> ULVAC 爱发科</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/81.html"> PFEIFFER 普发</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/80.html"> OSAKA 大阪</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/78.html"> ALCATEL 阿尔卡特</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/77.html"> LEYBOLD 莱宝</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/73.html"> BOCEDWARDS  爱德华</a></li>
			            
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/65.html">干式真空泵维修</a>
 
 <ul class="nav2">
 
				<li class="li2" style="margin-left:1px;"><a href="/goods/117.html"> Ebara荏原</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/116.html"> Leybold莱宝</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/105.html"> adixen阿尔卡特</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/94.html"> EDWARDS爱德华</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/92.html"> ULVAC 爱发科</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/91.html"> PFEIFFER 普发</a></li>
			            
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/128.html">低温泵</a>
 
 <ul class="nav2">
 
				<li class="li2" style="margin-left:1px;"><a href="/goods/132.html"> Leybold莱宝</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/131.html"> Suzuki铃木</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/130.html"> Ulvac爱发科</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/129.html"> Brooks CTI</a></li>
			            
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/127.html">二手销售</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/112.html">真空计</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/110.html">隔膜泵维修</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/69.html">滑阀泵维修</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/67.html">分子泵控制器维修</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/64.html">油泵维修</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/63.html">涡旋干泵维修</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/62.html">罗茨泵维修</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/60.html">低温泵冷泵维修</a>
 
 <ul class="nav2">
 
 </ul>
 
 </li>
    
 <li class="li1"><a  href="/goods/59.html">配件</a>
 
 <ul class="nav2">
 
				<li class="li2" style="margin-left:1px;"><a href="/goods/109.html"> 泵浦配件</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/108.html"> 真空泵油</a></li>
			            
				<li class="li2" style="margin-left:1px;"><a href="/goods/107.html"> 其他真空泵配件</a></li>
			            
 </ul>
 
 </li>
   

</ul>
</div>
</div>
</div>

 <h4 class="contTit"><span>新闻中心</span></h4>
<div class="t05_cons1">
<ul>

<li><a href="/news/show-311.html" target="_blank">爱发科检漏仪维修保养的小知识</a></li>
 
<li><a href="/news/show-310.html" target="_blank">真空 PUMP 使用注意事项</a></li>
 
<li><a href="/news/show-309.html" target="_blank">爱发科检漏仪维修保养</a></li>
 
<li><a href="/news/show-308.html" target="_blank">德国普发维修保养首选</a></li>
 
<div class="clear"></div>
</ul></div>
		 <div class="contactn mt10 mb10 mb10">

        <h4 class="contTit">
            <a class="yan2" href="/content/contact.html">联系我们</a></h4>
   
    <div class="subnr">
        <img src="/templates/default/images/CatactUs.jpg">

<p style="background-color:#ffffff;font-family:'microsoft yahei', 宋体;color:#666666;">
	<strong>苏州广源佳机电设备有限公司</strong>
</p>
<p style="background-color:#ffffff;font-family:'microsoft yahei', 宋体;color:#666666;">
	<br />
总公司地址：苏州市工业园区娄葑和顺路1号博济生能科技园437室<br />
<br />
张家港分公司地址：张家港市新能源产业园希望路8号<br />
<br />
电话：18862193108 /051288869110<br />
<br />
邮箱：<a href="mailto:suntor.sun@gyjvacuum.com">suntor.sun@gyjvacuum.com</a><br />
<br />
传真：4008266163 转 79578
</p>
<p style="background-color:#ffffff;font-family:'microsoft yahei', 宋体;color:#666666;">
	<br />
</p>

  </div>
</div>
    </div>
<!--/Header-->
    <div class="right">
        <div class="plc">
            
            <span class="">您现在的位置：<a href="/">首页</a> > <a href="/news/0.html">新闻中心</a>&nbsp;&gt;&nbsp;<a href="/news/4/1.html">新闻中心</a></span>
        </div>
        <div class="righttop">
        </div>
        <div class="right_main">
            <div class="agent_con">

<div id="newscontent">
	<div id="newsconttitle">
		<h1>{{article.title}}</h1>
		<p>发布时间:<span class="time">{{article.pubd}},</span>
        
        <span class="view">查看次数{{article.click}}</span></p>
	</div>
    <div class="clear"></div>
    	<div id="newcontent">
		  
{{article.note|safe}}
		  </div>
	<div class="endPageNum">
		<table align="center">
			<tr>
				<td>
								<div class="clear"></div>
				</td>
			</tr>
		</table>
	</div>
	
</div>
<div style="border:1px dashed #999999"></div>
<div id="articleHeader">
	<h4 >上一篇：<a href="/news/show-304.html">德国莱宝检漏仪维修保养的详细信息</a> </h4>
    <h4 >下一篇：没有了 </h4>
	</div>           
            </div>
        </div>
        <div class="rightbot">
        </div>
    </div>
    <div class="clear">
    </div>
</div>


<!--Header-->
<div class="fotNav">
  <a href="/">首页</a>| <a href="/content/about.html">关于我们</a>| <a href="/goods/0.html">产品展示</a>| <a href="/photo/0.html" >资质荣誉</a>|
     <a href="/news/4.html" >新闻中心</a>| <a href="/news/3.html">行业资讯</a>|<a href="/video/0.html">生产设备</a>|<a href="/down/0.html">工程案例</a>|<a href="/content/xswl.html" >销售网络</a>|<a href="/content/contact.html" >联系我们</a>
</div>
<div class="footWrap">
    <div class="footer">
	<div class="footer_contact">
    
    
     苏州广源佳机电设备有限公司-德国莱宝检漏仪维修保养,爱发科检漏仪维修保养,英福康检漏仪维修保养,普发检漏仪维修保养<br>
                      Copyright 2015-2016 <a href="/">苏州广源佳机电设备有限公司</a> 版权所有 All rights reserved.    <a href="http://tongji.baidu.com/web/welcome/login"><img src="/templates/baidutongji.gif"></a>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?41a9aecd96050f7e4cd43ca9287022ff";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    
    </div>
    </div>
</div>

<!--/Header-->

</body></html>