<!-- cb_优势 -->
    <div class="ysSpan">
        <div class="ysBox container">
            <span class="ysPhone">
               18862193108
            </span>
            <div class="ysZsBox">
              
            </div>
            <dl class="ys01">
                <dt>多年的维修经验</dt>
                <dd>
                    <span>专业的维修团队、擅长疑难偏门问题</span>
                    <p>
                        <img src="/templates/default/images/goubox.png" style="position: relative; bottom: -6px;" alt="地脚螺栓">广源佳机电技术力量雄厚、人员配备齐全。<br>
                        <img src="/templates/default/images/goubox.png" style="position: relative; bottom: -6px;" alt="地脚螺栓">广源佳公司拥有5年的真空行业维修经验，是集新品销售、维修、服务于一体的厂家。</p>
                </dd>
            </dl>
            <dl class="ys02">
                <dt>苏州广源佳机电设备有限公司拥有强大的股东做后盾</dt>
                <dd>
                    <span>保障客户利益、为了更好的发展</span>
                    <p>
                        江苏著名的玻璃镀膜厂家入股30%，促使广源佳拥有更大的发展空间，同时也让客户与广源佳的合作放心，有保障。</p>
                </dd>
            </dl>
            <dl class="ys03">
                <dt>拥有净化室维修车间</dt>
                <dd>
                    <span>为了提高高真空产品的维修质量</span>
                    <p style="width: 630px;">
                        国内唯一一家拥有净化车间的维修厂商，高真空产品维修质量有保证。</p>
                </dd>
            </dl>
            <dl class="ys04">
                <dt>代理国际知名品牌真空产品多年</dt>
                <dd>
                    <span>竞争性的价格优势</span>
                    <p>
                        广源佳从事真空泵代理多年，与名大厂家密切合作，快速的交货期、专业的售后服务、有效降低企业的采购成本。</p>
                    <br>
                </dd>
            </dl>
            <dl class="ys05">
                <dt>完善的企业管理</dt>
                <dd>
                    <span>采用外企的管理模式</span>
                    <p>
                       维修部拥有完整的SOP标准流程作业图，对工程师人员也比较人性化，公司注重人才发展，使您的产品质量有保证。
</p>
                </dd>
            </dl>
        </div>
    </div>