<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="widget">
          <h4 class="widgetheading">联系我们</h4>
          <address>
          <strong>地址：</strong>
           南宁兴宁区望州路166号 </address>
          <p>
                        <strong>电话：</strong>
            <i class="icon-phone"></i> 18977771077 <br>
                          <strong>邮箱：</strong>
            <i class="icon-envelope-alt"></i> anaf@163.com
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="widget">
          <h5 class="widgetheading">网站导航</h5>
          <ul class="link-list">
            <li><a href="../">首页</a></li>
            <li><a href="typography">公司简介</a></li>
            <li><a href="about1">资质证书</a></li>
            <li><a href="portfolio">产品展示</a></li>
            <li><a href="contact">联系我们</a></li>
          </ul>
        </div>
      </div>
  
    </div>
  </div>
  <div id="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="copyright">
            <p>
              <span>Copyright © 2014 广西安福科技有限公司 版权所有 桂ICP备12006578号 </span>
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  </footer>