{% extends "bases.html" %}
{% block title %}首页{% endblock %} 
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section id="featured">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="main-slider" class="flexslider">
          <ul class="slides">
            <li><img src="/static/images/a1.jpg" alt="" /></li>
            <li><img src="/static/images/a2.jpg" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>  
</section>

<section class="callaction">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="big-cta">
          <div class="cta-text">
            <h2>关于<span>安福</span> </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  <section id="content"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-lg-12"> 
      <div class="row"> 
       <div class="col-lg-3"> 
        <div class="box"> 
         <div class="box-gray aligncenter"> 
          <h4>公司简介</h4> 
          <div class="icon"> 
           <i class="fa fa-desktop fa-3x"></i> 
          </div> 
          <p> 广西安福科技有限公司 ( 以下简称&quot;安福科技&quot;）总部设在广西自治区首府南宁市，注册资本为 500 万元，由近 100 名极富有朝气的技术、运营专业人才组成，专注于系统集成、通信工程及维护、校讯通业务、计算机软硬件、系统网络、软件开发及项目运营。 </p> 
         </div> 
         <div class="box-bottom"> 
          <a href="typography">阅读更多</a> 
         </div> 
        </div> 
       </div> 
       <div class="col-lg-3"> 
        <div class="box"> 
         <div class="box-gray aligncenter"> 
          <h4>经营理念</h4> 
          <div class="icon"> 
           <i class="fa fa-pagelines fa-3x"></i> 
          </div> 
          <p>公司宗旨<br /> 安福科技基于业界领先的技术研发及创新能力，以客户需求为导向，为移动运营商、政府部门、大型企业及其客户群提供大型无线应用信息系统、移动商务解决方案和服务 <br /> 公司使命<br /> 产业报国，造福社会。<br /></p> 
         </div> 
         <div class="box-bottom"> 
          <a href="typography">阅读更多</a> 
         </div> 
        </div> 
       </div> 
       <div class="col-lg-3"> 
        <div class="box"> 
         <div class="box-gray aligncenter"> 
          <h4>公司历程</h4> 
          <div class="icon"> 
           <i class="fa fa-edit fa-3x"></i> 
          </div> 
          <p>2007年<br /> 1月 广西安福科技有限公司成立。<br /> 2月 成功研发出运营商级短信管理系统（YM-SMS）。<br /> 3月 成功研发出运营商级彩信管理系统 (YM-MMS)。<br /> 4月 YM-SMS短信管理系统、彩信管理系统先后获得......<br /> </p> 
         </div> 
         <div class="box-bottom"> 
          <a href="typography">阅读更多</a> 
         </div> 
        </div> 
       </div> 
       <div class="col-lg-3"> 
        <div class="box"> 
         <div class="box-gray aligncenter"> 
          <h4>公司荣誉</h4> 
          <div class="icon"> 
           <i class="fa fa-code fa-3x"></i> 
          </div> 
          <p> 公司在软件系统开发方面获得有计算机软件著作权登记证书、软件产品登记证书、软件企业认定证书、高新技术企业证书、中华人民共和国增值电信业务经营许可证、科技型中小企业技术创新基金立项证书等多项资质证书，在系统集成方面也获得有计算机信息系统集成资质证书...... </p> 
         </div> 
         <div class="box-bottom"> 
          <a href="typography">阅读更多</a> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
    <!-- divider --> 
    <div class="row"> 
     <div class="col-lg-12"> 
      <div class="solidline"> 
      </div> 
     </div> 
    </div> 

    <div class="row"> 
     <div class="col-lg-12"> 
      <h4 class="heading">资讯-案例</h4> 
      <div class="row"> 
       <section id="projects"> 
        <ul id="thumbs" class="portfolio"> 
         <!-- Item Project and Filter Name --> 
        <li class="col-lg-6 design" > 
        <ul>
          <li class="col-lg-12">栏目titile栏目titile栏目titile</li>
          <li class="col-lg-12">栏目titile栏目titile栏目titile栏目titile栏目titile</li>
          <li class="col-lg-12">栏目titile栏目titile栏目titile栏目titile栏目titile栏目titile</li>
          <li class="col-lg-12">栏目titile</li>
          <li class="col-lg-12">栏目titile</li>
          <li class="col-lg-12">栏目titile</li>
          <li class="col-lg-12">栏目titile</li>
          <li class="col-lg-12">栏目titile</li>
          <li class="col-lg-12">栏目titile</li>
        </ul>


        </li> 
          
         <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator"> 
         <img src="/static/images/a1.jpg" alt="" /> </li> 

         <li class="item-thumbs col-lg-3 photography" data-id="id-2" data-type="illustrator"> 
         <img src="/static/images/a1.jpg" alt="" /> </li> 
         <!-- End Item Project --> 
        </ul> 
       </section> 
      </div> 
     </div> 
    </div> 
   </div> 
  </section>


{% endblock %}

  
  
  
