{% extends "bases.html" %}
{% block title %}{{navcatInfo.title}}{% endblock %} 
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<section id="inner-headline">
<div class="container">
<div class="row">
<div class="col-lg-12">
<ul class="breadcrumb">
<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
<li class="active">{{navcatInfo.title}}</li>
</ul>
</div>
</div>
</div>
</section>


<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

      <div class="col-lg-12">

        {%for i in news.items%}
        <div class="col-lg-4"><a href="/article/{{i.url}}">
        <img src="{{i.thumbnail}}" alt="{{i.title}}" width="100" height="100">
        <p>{{i.title}}</p>
        </a>
        </div>
        {%endfor%}
        
          
      </div>

        
        <div id="pagination">
        {% if news.has_prev %}
<a href="/category/{{navcatInfo.url}}/{{news.prev_num}}" class="inactive">上一页</a>
{% else %} <a href="#" class="disabled">上一页</a>{% endif %} 


{% if news.has_next %}
<a href="/category/{{navcatInfo.url}}/{{news.next_num}}" class="inactive">下一页</a>{% else %}<a href="#" class="disabled">下一页</a>
{% endif %}

          
          
        </div>
      </div>
      <div class="col-lg-4">
        <aside class="right-sidebar">
      
        <div class="widget">
          <h5 class="widgetheading">项目栏目</h5>
          <ul class="cat">

          {%if navcatArcitlepid(navcatInfo.url)%}
          {%for i in navcatArcitlepid(navcatInfo.url)%}
           <li><i class="icon-angle-right"></i><a href="/category/{{i.url}}">{{i.title}}</a><span></span></li>
           {%endfor%}{% endif %}
          
          {%for i in navcatArcitle(navcatInfo.url)%}
            <li><i class="icon-angle-right"></i><a href="/category/{{i.url}}">{{i.title}}</a><span></span></li>
          {%endfor%}
          
           

          </ul>
          
          
        </div>
        <div class="widget">
          <h5 class="widgetheading">热点项目<br>
          </h5>
          <ul class="recent">
            
            <li>
            <a href="#"><img src="../media/img/dummies/blog/65x65/thumb2.jpg" class="pull-left" alt="" /></a>
            <h6><a href="../blog2">2013年总结暨2014年发展规划会</a></h6>
            <p>公司各项工作取得辉煌成果，各项 工作卓有成效。 </p>
            </li>
            <li>
          </ul>
        </div>
        
        </aside>
      </div>
    </div>
  </div>
  </section>
  


{% endblock %}


  
  